python-dotenv
langchain
langchain_community
tiktoken
openai
langchain_openai
alive_progress
#Loader
google-api-python-client
playwright
html2text
apify-client
#Database
psycopg2-binary
pgvector
sqlalchemy
# #LLM local
transformers
sentence-transformers
bitsandbytes
accelerate
#API
Flask
flask_restx
#JSON Mapping
flask-marshmallow
flask_sqlalchemy
marshmallow-sqlalchemy
#Redis 
redis
rq
rq_dashboard

# debugging only
#ptvsd==4.3.2
