python-dotenv
alive_progress
#LLM functions
langchain
langchain_openai
langchain_community
tiktoken
openai
#Loader
google-api-python-client
playwright
html2text
apify-client
beautifulsoup4
pillow
#Database
psycopg2-binary
pgvector
sqlalchemy
#LLM local
transformers
sentence-transformers
bitsandbytes
accelerate
#API
Flask
flask_restx
#JSON Mapping
flask-marshmallow
flask_sqlalchemy
marshmallow-sqlalchemy
#Redis 
redis
rq
rq_dashboard

# debugging only
#ptvsd==4.3.2
