python-dotenv
langchain
langchain_community
tiktoken
openai
langchain_openai
alive_progress
#Loader
google-api-python-client
playwright
html2text
apify-client
#Database
psycopg2-binary
pgvector
sqlalchemy
# #LLM local
transformers
sentence-transformers
bitsandbytes
accelerate

# Flask
# flask_restx

# numpy==1.22.0
# spacy
# sentence-transformers
# pypdf
# alive_progress
# beautifulsoup4
# sqlalchemy
# flask-marshmallow
# flask_sqlalchemy
# marshmallow-sqlalchemy
# redis
# rq
# rq_dashboard
# tiktoken

# debugging only
#ptvsd==4.3.2


#dockerfile :
#playwright install